:host {
  #main-site-header {
    min-height: var(--ds-header-height);

    @include media-breakpoint-up(md) {
      height: var(--ds-header-height);
    }

    background-color: var(--provincia-color);

    &-container {
      max-width: 1300px;
      margin: 0 auto;
      min-height: var(--ds-header-height);
    }
  }

  img#header-logo {
    height: var(--ds-header-logo-height);

    @include media-breakpoint-up(md) {
      padding: 0.5rem 0;
    }
  }

  button#navbar-toggler {
    color: #ffffff;
  }

  ::ng-deep {
    .dropdownLogin, .dropdownLogout {
      color: #ffffff !important;

      &:focus:not(:focus-visible) {
        outline: none !important;
      }

      &:focus-visible {
        outline: 2px solid;
        outline-offset: 2px;
      }
    }
  }

}
