<ds-home-coar></ds-home-coar>
<ds-home-news></ds-home-news>
@if (showDiscoverFilters) {
  <ds-configuration-search-page
    [sideBarWidth]="3"
    [showViewModes]="false"
    [searchEnabled]="false"
    [inPlaceSearch]="false"
    [showScopeSelector]="false">
    <ng-container searchContentTop *ngTemplateOutlet="homeContent"></ng-container>
  </ds-configuration-search-page>
}
@if (!showDiscoverFilters) {
  <div class="container">
    <ng-container *ngTemplateOutlet="homeContent"></ng-container>
  </div>
}

<ng-template #homeContent>
  @if (recentSubmissionspageSize>0) {
    <ds-recent-item-list></ds-recent-item-list>
  }
</ng-template>
