<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="home-news-content py-4 px-2 py-sm-5 px-sm-0 mt-0 mb-4">
      <div class="d-flex flex-wrap banner-cendie">
        <div>
          <h1>Repositorio Digital</h1>
          <h2>Dirección General de Cultura y Educación (DGCyE)</h2>
          <h3>Centro de Documentación e Información Educativa (CENDIE)</h3>
          
          <p class="lead mt-4">
            El <strong>Centro de Documentación e Información Educativa (CENDIE)</strong> es una unidad de información 
            especializada en educación que reúne, analiza, procesa y difunde documentación e información educativa en 
            distintos formatos y soportes. Allí se resguarda la colección histórica de Anales de la Educación Común, 
            fundada por Sarmiento en 1858.
          </p>
        </div>
      </div>
    </div>
  </div>
  <picture class="background-image">
    <img alt="" [src]="'assets/dspace/images/banner-repo.png'"/>
  </picture>
</div>
