:host {
  display: block;

  div.background-image-container {
    position: relative;

    .background-image > img {
      background-color: var(--bs-info);
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  .home-news-content .banner-cendie {
    color: black;
    background: white;
    width: 75%;
    padding: 3rem 1.5rem;

    @media (max-width: 991px) {
      width: 100%;
    }

    h1 {
      font-size: 2.5rem;
      font-weight: 700;
    }

    h1, h2, h3 {
      color: var(--provincia-color);
    }

    strong {
      font-weight: 700;
    }
  }
}
